/* .property-card {
    width: 30%;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
  } */

  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  .buyer-property-list * {
    box-sizing: border-box;
  }
  .buyer-property-list body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
  }
  .buyer-property-list .container {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .buyer-property-list .card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  .buyer-property-list .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .buyer-property-list .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    padding-top: 10px;
    min-height: 250px;
  }
  
  .buyer-property-list .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .buyer-property-list .tag-teal {
    background-color: #47bcd4;
  }
  .buyer-property-list .tag-purple {
    background-color: #5e76bf;
  }
  .buyer-property-list .tag-pink {
    background-color: #cd5b9f;
  }
  
  .buyer-property-list .card-body p {
    font-size: 13px;
    margin: 0 0 20px;
  }
  .buyer-property-list .user {
    display: flex;
    margin-top: auto;
  }
  
  .buyer-property-list .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .buyer-property-list .user-info h5 {
    margin: 0;
  }
  .buyer-property-list .user-info small {
    color: #545d7a;
  }

  .buyer-property-list .more-info-button {
    background-color: #5e76bf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;
    margin-left: 45px;
  }
  